  .store-page .none{
    display: none;
  }
  // --------------------------
  // -------- tab bar ---------
  // --------------------------
  .store-page__tab {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    
  }
  .store-page__tab-item i {
    margin-left: 12px;
    margin-right: 12px;
    font-size: 16px;
  }
  .store-page__tab-item {
     
      position: relative;
      display: flex;
     
      width: 150px;
      height: 100%;
      padding: 10px 0;
      margin-right: 12px;
      
      border-radius: 5px;
      border: 1px solid rgba(0,0,0, 0.2);
      
      align-items: center;
      justify-content: left;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      color: #333;
  }
  .store-page__tab-item span{
     transform: translatey(1.8px);
      
  }
  .store-page__tab-item.active {
      background-color: var(--orange-color);
      border-color: var(--orange-color);
      color: white;

  }
  // --------------------------
  // -------- Search ----------
  // --------------------------
  .store-page__search{
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
  }
  .store-page__search-input{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 2px ;
    width: 300px;
    height: 45px;
    border-radius: 8px ;
    border: 2.3px solid #bebebe;
    // box-shadow: rgb(183, 186, 195) 1px 3px 3px;
  }
  
  .store-page__search-input::placeholder { 
    color: rgb(195, 198, 216);
  }
  .store-page__search-input input{
    border: none;
    height: 100%;
    flex: 1;
    font-size: 16px;
    padding:0 30px 0 10px ;
    border-radius: 8px;    
  }
  .store-page__search-input input:focus{
    border: none;
    outline: none;
   
  }
  .store-page__search-input i{
    position:absolute;
    right: 8px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(134, 132, 132);
    cursor: pointer;
  }
  .store-page__search-input select{
    border: none;
    height: 100%;
    flex: 1;
    font-size: 16px;
    padding:0 30px 0 10px ;
    border-radius: 8px;    
  }
  .store-page__search-input select:focus{
    border: none;
    outline: none;
   
  }
  // --------------------------
  // --------- Item -----------
  // --------------------------
  .store-item{
    margin-bottom: 36px;
    display: flex;
    flex-direction: column;
    /* align-store-items: center; */
    border: none;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 8px 8px;
    border-radius: 10px;
    cursor: default;
    transition: all 0.3s;
  }
  .store-item:hover {
   
    transform: scale(1.005);
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    .store-item__mid-header{
      overflow:visible;
      display: block;
    }
    .store-item__content-mean span{
      overflow:visible;
      display: block;
    }
  }
  .store-item__header{
    flex: 1;
    display: flex;
    flex-direction: row;
    padding:0 5px;
  }
  .store-item__mid{
    flex: 1;
  }
  .store-item__mid-header{
    padding-right: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 600;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    
  }
  
  
  .store-item__content{
    flex: 1;
    padding:0 5px;
    
  }
  .store-item__content-type{
    font-size: 12px;
    opacity: 0.7;
   
  }
  .store-item__content-mean{
    display:flex;
    align-items: center;
  }
  .store-item__content-mean span{
     
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
  .store-item__right{
    flex: 0.1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:flex-start;
  }
  .store-item__right-icon{
    margin-left: 5px;
    cursor: pointer;
    font-size: 11px;
    opacity: 0.7;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 6px 7px;
    border-radius: 8px;
    background-color: rgb(236, 233, 233);
  }
  .store-item__right-icon:hover {
    background-color: var(--dark-blue);
    color: white;
  }
  .store-page__action{
    margin-top: 15px;
    display: flex;
    flex-direction:row;
  }
  .store-page__action-login{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--primary-color);
    padding: 9px 20px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0 ,0.2) 0px -2px 0px inset;
  }
  .store-page__sub{
    margin-top: 14px;
    margin-left: 12px;
    font-size: 14px;
   
    color: var(--text-color) ;
    display: flex;
    flex-direction: column;
    vertical-align:middle;
    text-align: center;
    justify-content: center;
  }
  .store-page-content-no-login{
    display: flex;
  }
  .test-pg__modal-body{

  }
  .modal-body{
  
  }
  .store-pg__modal-title{
  
    margin-bottom: 12px;
  }
  .store-pg__modal-sub-title{
  }
  .store-pg__modal-option button{
    width: 100px;
    height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 16px;
  // font-weight: 600;
  font-size: 14px;
  }
  .store-pg__modal-option button:nth-child(1){
    border: 1px solid #c4c4c4;
    background-color: white;
    color: black;
  }
  .store-pg__modal-option button:nth-child(2){
    background-color: var(--dark-blue);
    color: whitesmoke;
  }