/* ---CÂU HỎI--- */
.question-1-item{
    width: 100%;
}
.question-1-item__header{
    height: 300px;
    margin: 0px 10% 16px 10%;
    padding: 18px 10px;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--border-color);
    border-radius: 15px;
    box-shadow: rgb(213, 216, 224) 1px 3px 3px;
    background-color: #ffffff;

}
.question-1-item__header img{
    border-radius: 5px;
    width: 400px;
    height: 100%;
    // padding-bottom: 20px;
    
}
.question-1-item__content{
    margin:  0 10%;
}
.question-1-item__transcript{
    display: none;
    margin-top: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px 30px 10px 30px;
    color: var(--text-color);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 227, 227);
  
}
.question-1-item__transcript .transcript-title{
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.question-1-item__transcript .transcript-content{
    width: 100%;
    font-size: 18px;
}



