:root {
    --primary-color: #ffbb00;
    // --orange-color: #f05123;
    // --orange-color: #e25831;
    // --orange-color: #6c47ff;
    --orange-color: #183153;
    --sub-primary-color: #6c47ff;
    --white-color: #fff;
    --brown-color: #D17B00;
    --purple-color: #CE82FF;
    --green-color: #18e094;
    --green-color-2: #00CB7E;
    --green-color-3: #74d8c1;
    --green-color-4: rgb(0, 236, 152);
    --red-color: #FF014E;
    --pink-color: #fe2c55;
    --blue-color: #00C5F9;
    --blue-color-2: #04afdf;
    --blue-color-3: #2cccff;
    --black-color: #000;
    --gray-color: #666;
    --gray-color-1: #8d8d8d;
    --gray-color-2: #e9ecef;
    --gray-color-3: #f1f1f1;

    --dark-blue: #183153;
    --dark-blue-2: #252337;
    --dark-blue-3: #3f3d56;
    /* Text */
    --text-color: #333;
    --text-color-primary: #293749;
    --text-color-2: #4c4c4c;
    --text-color-3: #242424;
    --text-color-4: #292929;
    --sub-text-color: #afafaf;
    --sub-text-color-2: #919191;
    --sub-text-color-3: #6d6d6d;
    
    /* General */
    --btn-color: #f05123;
    --invalid-color: #f33a58;
    --plum-color: #b80257;
    
    --border-color: #E5E5E5;
    --border-color-2: #bbb8b8;
    --border-color-3: #929191;
}
html {
    scroll-behavior:smooth;
  }
/* KEY FRAME */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slidein {
    from {
        transform: translate(-50%,0);
    }

    to {
        transform: translate(-50%, -50%);
    }
}
/*  */
* {
    box-sizing: inherit;
    
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
html {
    /* Hack font size 1rem = 10px */
    /* font-size: 62.5%;
    line-height: 1.6rem; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.body {
    display: flex;
    // padding-top: 66px;
    padding-bottom: 16px;
    width: 100%;
    height: 100%;
}
.main-content {
    padding-top: 24px;
    padding-bottom: 16px;
    width: 100%;
    height: 100%;

}
.page {
    padding-top: 16px;
    padding-bottom: 200px;
}
/* .content {
    
    padding-top: 16px;
    padding-bottom: 200px;
} */
.btn {
    height: 46px;
    width: 184px;
    outline: none;
    background-color: var(--primary-color) ;
    color: rgb(41, 42, 46);
    border-radius: 10px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    box-shadow: rgba(0 ,0 ,0 , 0.2) 0px -2px 0px inset;
}
.btn-close {
    font-size: 32px;
    font-weight: 900;
    color : rgb(0, 165, 122);
    cursor: pointer;
}
.btn-back {
    
}
.app {
    padding-top: 36px;
}
/* MODAL */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 9999;
}
.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-body{
    position: relative;
    // min-width: 300px;
    // min-height: 300px;
    margin: auto;
    margin-top: 120px;
    background-color: white;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 8px;
    animation: open 0.3s forwards;
}
@keyframes open {
    0% {
        transform:  scale(0);
    }
    // 50% {
    //     transform:  scale(1.05);
    // }
    // 70% {
    //     transform:  scale(0.95);
    // }
    100% {
        transform:  scale(1);
    }
}
.modal-iner{
    padding: 12px 36px;
}

/* PROGRESS BAR */
.progress-custome {
    height: 30px;
    width: 100%;
    border: none;
    color: white;
    // flex: 85% 1;
    animation: width 0.3s ease-in-out;
}
.progress-custome[value]::-webkit-progress-bar {
    background-color: #e2e2e2;
    border-radius: 99px;
    /* box-shadow: 0 2px 3px rgba(0,0,0,.5) inset; */
}
.progress-custome[value]::-webkit-progress-value {
    position: relative;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    background-color: var(--primary-color);
    border-radius: inherit;
    animation: animate-stripes 5s linear infinite;
}
@keyframes animate-stripes { 100% { background-position: -100px 0; } }
.progress-custome .progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    width: 100%; height:20px;
}

.progress-custome .progress-bar span {
    background-color: royalblue;
    border-radius: 3px;
    display: block;
    text-indent: -9999px;
}
.progress-percent {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
    /* color: var(--primary-color); */
}
/* .progress-percent[data-value] { 
    position: relative; 
}
.progress-percent[data-value]:after {
    content: attr(data-value) '%';
    position: absolute; 
    right:0;
} */
.base__form-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    height: 650px;
    border-radius: 10px;
}
.base__form-header {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 16px 8px;
}
.base__form-header div {
    font-size: 30px;
    font-weight: 700;
    color: var(--dark-blue);
}
.base__form {
    display: flex;
    margin: 0 auto;
    width: 500px;
}
.base__form-group {
display: flex;
flex-direction: column;
width: 100%;
margin-bottom: 16px;
}
.base__form-group > label {
color: gray;
padding: 4px 0;
}
.base__form-group > input {
padding: 8px 8px;
outline: none;
border-radius: 5px;
border: 1px solid gray;
}
.base__form > button {
margin-top: 32px;
width: 180px;
height: 40px;
background-color: var(--dark-blue);
color: white;
font-size: 16px;
font-weight: 600;
border: none;
border-radius: 10px;
cursor: pointer;
}
.base__form .base__form-error-message {
    margin-top: 0px;
    color: var(--invalid-color);
    font-size: 14px;
    font-weight: 600;
}
.base__group {

}
.base__group-title {
    font-size: 26px;
    padding: 20px 0;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.base__page-heading {
    margin-bottom: 24px;
}
.base__page-heading h1 {
    margin: 4px 0;
    font-weight: 800;
}