
/* ----APP---- */
.app-course-listen{
    padding:20px 0 0 0 ;
    background-color: white;
}

/* -----HEADER--- */
.listen-part__header {
    margin-top: 0px !important;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 115px;
}
.listen-part__header-content{
    border: 1px solid var(--border-color);
    border-radius: 15px;
    box-shadow: rgb(222, 224, 228) 0px 4px 2px;
    flex-direction: row;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 18px;
}
.listen-part__header-content__title{
    margin-left: 25px;
    flex: 1;
}
.listen-part__header-content__title h1{
    font-weight: 800;
}
.listen-part__header-content__title p{
    font-size: 16px;
    color: var(--text-color);
}
.listen-part__header-content__img{
    width: 550px;
    height: 100%;
    width: 365px;
    margin-right: 100px;
}
.listen-part__header-content__img img{
    width: 100%;
    height: 100%;
    
} 
/* ----VOCABULARY: -CONTENT---- */
.listen-part__content {
    background-color: white;
    padding-top: 30px ;
    margin-top: 1px !important;
    border-radius: 5px;
}

/* ----VOCABULARY: -CONTENT: Parts---- */

/* ----Modal---- */
.lscourse-page__modal-body {
    padding: 32px !important;
}

.lscourse-page__modal-title {
  font-size: 22px;
  font-weight: 900;
  color: #ff3966;
}
.lscourse-page__modal-sub-title {
  font-weight: 500;
  font-size: 18px;
  margin: 10px 0;
}

.lscourse-page__modal-option {
  margin-top: 12px;
}
.lscourse-page__modal-option button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 16px;
  // font-weight: 600;
  font-size: 14px;
}
.lscourse-page__modal-option button:nth-child(1) {
  // background-color: black;
  border: 1px solid #c4c4c4;
  background-color: white;
  color: black;
}
.lscourse-page__modal-option button:nth-child(2) {
  background-color: #ff3966;
  color: whitesmoke;
}




