.part1 {
  padding-bottom: 32px;
}
.part1__heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4px;
  margin-bottom: 4px;
}
.part1__heading img {
  max-width: 500;
  max-height: 500;
}
.part1__heading audio {
  margin-top: 12px;
}
.part1__qs {
}
.part1__qs-title {
  font-size: 16px;

  padding-bottom: 6px;
}
.part1__qs-title--bold {
  font-weight: 700;
  margin-right: 8px;
}
.part1__qs-ls {
  display: flex;
  flex-direction: column;
}
.part1__qs-item {
  cursor: pointer;
  margin: 12px;
}
.part1__qs-item.active strong {
  background-color: #1a78c2;
  color: white;
  border-color: #1a78c2;
}
.part1__qs-item.correct strong {
  border-color: #34a853;
  background-color: #34a853;
  color: white;
}
.part1__qs-item.incorrect strong {
  border-color: #ea4335;
  background-color: #ea4335;
  color: white;
}
.part1__qs-item input {
  display: none;
}
.part1__qs-item strong {
  border: 1px solid #ccc;
  border-radius: 99%;
  padding: 6px 13px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
}
