.part5 {
  // padding-bottom: 100px;
}
.part5__qs-heading {
  font-weight: 400;
  padding: 16px;
  border: 1px solid #faebcc;
  margin: 16px 0;
  background-color: #fcf8e3;
}
.part5__ans {
  font-weight: 400;
  padding: 16px;
  border: 1px solid #faebcc;
  margin: 16px 0;
  background-color: #fcf8e3;
  display: none;
}