
/* ----APP---- */
.app-practice-listen{
    padding:20px 0 0 0 ;
    background-color: white;
}

/* -----HEADER--- */
.listen__header {
    margin-top: 0px !important;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 150px;
}
.listen__header-content{
    border: 1px solid var(--border-color);
    border-radius: 15px;
    box-shadow: rgb(222, 224, 228) 0px 4px 2px;
    flex-direction: row;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    line-height: 25px;
}
.listen__header-content__title{
    margin-left: 25px;
    flex: 1;
}
.listen__header-content__title h2{
    font-weight: 900;
    font-size: 28px;
}
.listen__header-content__title p{
    font-size: 20px;
    color: var(--sub-text-color-2);
}
.listen__header-content__img{
    width: 550px;
    height: 100%;
    width: 365px;
    margin-right: 100px;
}
.listen__header-content__img img{
    width: 100%;
    height: 100%;
    
} 
/* ----VOCABULARY: -CONTENT---- */
.listen__content {
    background-color: white;
    padding-top: 35px ;
    margin-top: 1px !important;
    border-radius: 5px;
}

/* ----VOCABULARY: -CONTENT: -COURSE-GROUP---- */
.topic{
    margin: 0;
}



