.quick-q {
  font-family: "Open Sans", sans-serif;
}
.quick-q__header{
  font-size: 24px;
  color: #666;
}
.quick-q__container{
  display: flex;
  flex-direction: column;
}
.quick-q-question {
  padding: 36px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  color: #333;
}


.quick-q__options{
  width: 100%;
  padding: 0 2px;
}
.quick-q__answer{
  display: flex;
  padding: 16px 16px;
  margin: 14px 0px;
  cursor: pointer;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid #d4d4d4;
  box-shadow: rgb(207, 207, 207) 0px 3px 0px;
}
.quick-q__answer.success {
  background-color: rgba(63, 168, 165, 0.6);
  border: 2px solid #349592;
  box-shadow: #349592 0px 3px 0px;
}
.quick-q__answer.error {
  
  background-color: rgba(245, 159, 153, 0.6);
  border: 2px solid #f05d6b;
  box-shadow: #f05d6b 0px 3px 0px;
}
.quick-q__answer.error .quick-q__answer-title {
  background-color: #f05d6b;
}
.quick-q__answer.success .quick-q__answer-title {
  background-color: #349592;
}

.quick-q__answer-title{
  position: absolute;
  left: 0;
  margin-left: 24px;
  padding: 6px 12px;
  background-color: #666;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.quick-q__answer-content{
  font-size: 22px;
  font-weight: 600;
  color: #333;
}