@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

/* ----APP---- */
.app-question-listen{
    padding-top:  60px;
    padding-bottom: 110px; 
    background-color: white;
}
.header_lsquestion{
    position: fixed;
    z-index: 10;
    display: flex;
    width: 100%;
    font-weight: bold;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: rgb(213, 230, 235);
    //background: rgba(59, 60, 84, 0.7); xanh đen
    //background: rgba(44, 44, 44, 0.8); đen 
    background: rgba(0, 0, 0, 0.05); // đen mờ
    // background:linear-gradient( rgba(55, 55, 68, 0.8), rgba(75, 75, 90, 0.6)); // pha màu
    padding: 8px 0px;
   
}
.header_lsquestion__title{
    display: flex;
    margin: 3px 0 3px 0;
    width: 100%;
    // padding: 0 10px;

}
.header_lsquestion__title span{
    font-size: 19px;
    font-weight: 700;
    margin-left: 10%;
    flex: 1;
}
/* ---Số Câu Hỏi--- */
.header_lsquestion__title .questions{
    float: left;
    color: #333;
    display: flex;
    align-items: center;
    font-weight: 800;
}
/* ---BTN Kiem Tra--- */

.header_lsquestion__title .correct span{
    color: white;
}
.header_lsquestion__title .correct{
    margin-right: 10%;
    background: rgb(87, 203, 2);
    height: 40px;
    width: 120px;
    box-shadow: rgb(62, 147, 2) 0px 3px 1px;
}
/* --- Container ---*/
.container_lsquestion{
    display:block;
    width: 100%;
    margin-top: 80px !important;
}
.container__content{
    overflow: hidden;
    width: 100%;
}
.container__content__questions{
    display: flex;   
    width: 100%;     
}

