@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

/* ----APP---- */
.app{
    padding-top:  70px;
    padding-bottom: 110px; 
    background-color: white;
}

.container_lsquestion{
    display:block;
}

.container__header{
    align-items: center;
    justify-content: center;
    margin: 0;
}
.container__header__title{
    display: flex;
    margin: 5px 0 10px 0;
    width: 100%;
    padding: 0 100px;
}
/* ---Số Câu Hỏi--- */
.container__header__title .questions{
    float: left;
    flex: 1;
    color: var(--text-color);
}
/* ---Số Câu Đúng--- */

.container__header__title .correct span{
    color: #58CC02;
}

.container__content{
    overflow: hidden;
}
.container__content__questions{
    display: flex;        
}
