.loading-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  margin: auto;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #FF7A59;
  width: 150px;
  height: 150px;
  animation: spinner 1.5s linear infinite;
  transition: 1s linear;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.box .container{
  height: 15px;
  width: 130px;
  display: flex;
  position: relative;
  .dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    animation: move 700ms linear 0ms infinite;
    margin-right: 30px;
    
    &:first-child{
      position: absolute;
      top:0;
      left:0;
      animation: grow 700ms linear 0ms infinite;
    }
    
    &:last-child{
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 0;
      animation: grow 700ms linear 0s infinite reverse;
    }
  }
}

@keyframes grow {
  from {transform: scale(0,0); opacity: 0;}
  to {transform: scale(1,1); opacity: 1;}
}

@keyframes move {
  from {transform: translateX(0px)}
  to {transform: translateX(45px)}
}