.learn__body {
  display: flex;
  flex-direction: row;
}
.slides {
  flex: 85%;
  overflow: hidden;
  height: 500px;
}
.slide {
  width: auto;
  display: flex;
}
.slide-item {
  min-width: 850px;
  transition: 0.8s;
  animation: 0.3s step-end;
}
// các nút tương tác
.learn__body-action {
  flex: 8%;
  padding: 0 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.learn__body-action-btn.no{
  width: 100% !important;
  margin: 0 12px;
  height: auto;
  padding: 32px 0;
  background-color: white;
  box-shadow: rgba(52, 149, 146, 0.6) 0px -4px 0px inset;
  border: 2px solid rgba(52, 149, 146,0.6);
  color: gray;
}
.learn__body-action-btn-next {
  width: 100%;
  margin: 0 12px;
  height: auto;
  padding: 42px 0;
  margin: 0 16px;
  background-color: #349592;
  box-shadow: rgba(0 ,0 ,0 , 0.2) 0px -4px 0px inset;
  color: white;
}
.learn__body-action-btn-next:hover {
  
}
.learn__body-action-btn-tool {
  width: 100%;
  height: auto;
  border-radius: 5px;
  // border: 1px solid rgba(0 ,0 ,0 , 0.2);
  // box-shadow: rgba(0 ,0 ,0 , 0.2) 0px -4px 0px inset;
  box-shadow: none;
  color: #333;
  font-size: 13px;
}

.learn__body-action-btn-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  border: 2px solid gray;
  border-radius: 5px;
  color: gray;
  cursor: pointer;
  padding: 6px 6px;
  margin-top: 8px;
}
.learn__body-action-btn-item.active {
  background-color:#0C31A6 ;
  border: 2px solid rgb(36, 66, 167);
}
.learn__body-action-btn-item.active i {
  color: #94A5DC;
}
.learn__body-action-btn-item.active div {
  color: white;
}
.learn__body-action-btn-item:hover {
  border: 2px solid rgb(36, 66, 167);
  color: rgb(34, 65, 168);
}
.learn__body-action-btn-item i {
  font-size: 14px;
}
.learn__body-action-btn-item div {
  font-size: 14px;
  font-weight: 600;
  margin-top: -2px;
  margin-left: 4px;
}
//  Ví dụ
.learn__body-item-example {
  padding-bottom: 16px;
}

.learn__body-item-example i {
  font-size: 18px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 10px;
  background: rgb(226, 223, 219);
  color: rgb(41, 42, 46);
  margin-right: 14px;
}
.learn__body-item-example span {
  font-size: 20px;
  line-height: 30px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500;
}
