.rv-pg .sub-header {
  background-color: rgb(231, 105, 107);
  // background-color: rgb(231, 234, 240);
  // rgb(220, 220, 220)
  color: var(--dark-blue);
}

.rv-pg .sub-header__left {

}
.rv-pg .sub-header__left i {
  color: var(--dark-blue);
}
.rv-pg .sub-header__left-title {
  color: var(--dark-blue);
  font-weight: 600;
}
.rv-pg .sub-header__left-title {

}
.rv-pg .btn-close {
  color: var(--dark-blue);
}

// PROGRESS
.rv-pg-bd {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}
.rv-pg-bd__head{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.rv-pg-bd__head-status {
  display: flex;

}
.rv-pg-bd__head-status div {
  margin-right: 12px;
  font-weight: 700;
}
.rv-pg-bd__question {
  margin-top: 12px;
}
.rv-pg-bd__head-status div:nth-child(1) {
  // color: red;
  color: #666;
}
.rv-pg-bd__head-status div:nth-child(2) {
  color: #349592;
}
.rv-pg-bd__head-status div:nth-child(3) {
  color: rgb(231, 105, 107);
}
.rv-pg-bd__pgr-bar{
  height: 30px;
  flex: 85%;
}
.rv-pg-bd__pgr-bar .progress-custome[value]::-webkit-progress-bar {
  background-color: rgb(231, 234, 240);
}
.rv-pg-bd__pgr-bar .progress-custome[value]::-webkit-progress-value {
  background-color: rgb(231, 105, 107);
}
.rv-pg-bd__progress {
    background: rgb(231, 234, 240);
    border-radius: 0.25rem;
    height: 2rem;
    overflow: hidden;
    width: 100%;
}
.rv-pg-bd__progress-bar {
  background: rgb(231, 105, 107);
  border-radius: 0.25rem;
  height: 2rem;
  overflow: hidden;
  transition: all 0.2s;
}
.rv-pg-bd__end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
.rv-pg-bd__end-head{
  font-size: 36px;
  font-weight: 600;

}
.rv-pg-bd__end-result{
  font-size: 20px;
}
.rv-pg-bd__end-lsbtn{
  margin-top: 16px;
}
.btn-retry, .btn-back {
  width: 120px;
  height: 36px;
  margin: 0px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
.btn-retry{
  background-color: var(--dark-blue);
  color: white;
}
.btn-back{
  background-color: #e0e0e0;
}