.voca-course__item {
  margin-bottom: 56px;
}

.voca-course__item-img {
  display: block;
  width: 100%;
  padding-top: 56.25%;
  object-fit: cover;
  border-radius: 5px;
  background-size: cover;
  resize: both;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  animation: slidein 1s ease;
}

.voca-course__item-img:hover .voca-course__item-btn {
  display: block;

  transition: all 0.3s ease;
}

.voca-course__item-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  height: 44px;
  width: 160px;
  border-radius: 10px;
  background-color: var(--white-color);
  // color: var(--text-color);
  color: var(--dark-blue);
  z-index: 99;
  transform: translate(-50%, -50%);
  // box-shadow: rgb(150, 150, 150) 0px -2px 0px inset;
  box-shadow: none;
  font-size: 16px;
}

.voca-course__item-img:hover::after {
  content: '';
  position: absolute;
  /* inset: 0; */
  /* opacity: 00; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* visibility: hidden; */
  transform: scale(1.2);
  animation: fadeIn 0.2s ease-in;
  transition: all 0.3s ease 0s;
  background-color: rgba(0, 0, 0, 0.5);
}

.voca-course__item-name {
  padding: 6px 0;
  padding-bottom: 0;
}

.voca-course__item-name a {
  color: #292929;
  font-size: 18px;
  font-weight: 550;
  /* opacity: 0.9; */
  /* line-height: 1.4; */
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.voca-course__item-info {
  color: #666;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

.voca-course__item-info-number-follow {
  margin-left: 12px;
  font-size: 14px;
}
