.search{
  width: 400px;
}
.search-container{
  width: 100%;
}
.search-border{
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 4px 12px;
  display: flex;
  align-items: center;
}
.navbar__search-icon{
  cursor: pointer;
  padding-left: 4px;
}
.search-input{
  flex: 1;
  font-size: 16px;
  padding: 6px 0;
  border: none;
  outline: none;
  color: #333;
}
