.ls-wd-pg.ls-wd-pg__ls {
  font-family:'Montserrat',Arial,Helvetica,sans-serif;
}
.ls-wd-pg.ls-wd-pg__ls:first-child{
  margin-top: -12px;
}
.ls-wd-pg__item {
  margin-bottom: 4px;
  padding: 16px;
  margin-left: -16px;
  
}
.ls-wd-pg__item:hover {
  background-color: rgb(237, 237, 237);
  border-radius: 10px;
}
.ls-wd-pg__item-gr {
  font-size: 16px;
  font-weight: 400;
}
.ls-wd-pg__item-gr {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
}
.ls-wd-pg__item-gr .ls-wd-pg__item-sub-head {
  margin-right: 8px;
  font-weight: bold;
}
.ls-wd-pg__item-audio {
  margin-top: 8px;
}